.subtitulo {
    color: #37517E
}


.limon-color {
    color: #16A34A
}

.titulo-color {
    color: #44833C;
}


body,
html {
    height: 100%;
}


header {
    background: transparent;
    padding: 20px;
}

body {
    margin: 0;
    margin-bottom: 0;
    font-family: 'Arial', sans-serif;
}


.navbar {
    background-color: #000000;


    /* Ajusta la opacidad aquí */
    padding: 5px 10px;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.navbar a:hover {
    color: #005208;
}

.navbar-nav .nav-item:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item.active {
    background-color: #c0c0c0;
}

/* Agrega estos estilos al bloque de estilo */
.container-fluid .rounded {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 100%;
    /* Ajusta esto según tus necesidades */

    flex-direction: column;
    justify-content: space-between;
}


/* Agrega estos estilos al bloque de estilo */
img {
    max-width: 100%;
    height: auto;
}

/* Agrega estos estilos al bloque de estilo */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

/* Agrega estos estilos al bloque de estilo */
.btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: darken(var(--color-primario), 10%);
    color: #fff;
}

/* Agrega estos estilos al bloque de estilo */
a {
    text-decoration: none;
    color: var(--color-primario);
}

a:hover {
    text-decoration: underline;
}

/* Agrega estos estilos al bloque de estilo */
p {
    margin-bottom: 15px;
}

/* Agrega estos estilos al bloque de estilo */
#myCarousel .carousel-item {
    max-height: 400px;
    /* Ajusta la altura máxima según tus necesidades */
    overflow: hidden;
}

#myCarousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Mantiene la relación de aspecto y muestra toda la imagen */
}





/* Agrega estos estilos al bloque de estilo */
body {
    font-family: 'Roboto', sans-serif;
    /* Ejemplo de una fuente de Google Fonts */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    /* Otra opción de fuente de Google Fonts */
}

/* Agrega estos estilos al bloque de estilo */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Ajusta el espaciado entre secciones según sea necesario */
.container,
.container-fluid {
    margin-bottom: 30px;
}

/* Agrega estos estilos al bloque de estilo */
:root {

    --color-fondo: #f8f9fa;
    /* Color de fondo general */
}

body {
    background-color: var(--color-fondo);
}


.container h1 {
    text-align: center;
}

/* Agrega estos estilos al bloque de estilo */
.rounded {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Agrega estos estilos al bloque de estilo */
footer h1,
footer h2 {
    color: #ffffff;
}

.contact-info h1 {
    color: white;
    /* Texto en color blanco para la información de contacto */
}

#myCarousel img {
    width: 100%;
    height: auto;
}

/* Estilo para aplicar sombra */
.rounded {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Cambia los valores según lo necesites */
}

.card {
    margin-bottom: 1rem;
}

.card h1 {
    font-size: 1rem;
}

.contact-info h1,
.contact-info h2 {
    font-size: 1rem;
}

footer {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}
 